html, head, body{
    height: 100%;
}

body{
    margin: 0px;
}

.conteinerPlanoDeFundo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
}

.divisoria1{
    background-color: black;
}

.divisoria2{
    background-color: goldenrod;
}

.conteudoImagem{
    position: absolute;
    text-align: center;
    margin-left: 31.2%;
}

.imagemPerfil{
    margin-top: 45%;
    height: 19%;
    width: 19%;
}

.perfilGithub{
    margin-top: 0%;
    height: 10%;
    width: 10%;
}

figcaption{
    color: white;
}

.projetos{
    position: absolute;
    color: white;
    margin-left: 80%;
}

.nome{
    position: absolute;
    color: white;
    margin-left: 20%;
}

a{
    color: white;
}
