/* Estilos para a grid do topo */
.top-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    margin: 10px;
}

/* Estilo para o bloco retangular no topo */
.top-block {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
}

/* Estilos para a grid principal */
.main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: 10px;
}

/* Estilos para os projetos */
.project {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
}

/* Estilos para os links */
a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #3498db;
}
