body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.grid-container {
    display: grid;
    gap: 10px;
    padding: 20px;
}

.name {
    font-size: 24px;
    color: #333;
}

.bio,
.location,
.links {
    font-size: 18px; /* Fonte monoespaçada */
    margin: 0;
}

.links a {
    color: purple;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
    color: darkpurple;
}

.section-title {
    font-size: 24px;
    text-align: center; /* Centralizar o título */
    margin: 0; /* Remover margem padrão */
}

.small_hr {
    width: 5%; /* Largura menor para o hr */
    margin-top: 5px; /* Espaço acima do hr */
    margin-bottom: 5px; /* Espaço abaixo do hr */
    align-self: center; /* Centralizar verticalmente */
}

.grif{
    background-color: purple;
    opacity: 0.8
}